* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gruppo', Arial, Helvetica, sans-serif;
    outline: none;
}

body {
    background-size: cover;
    background: linear-gradient(#ffffff, #19709b);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.container {
    padding: 0;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border: radius 10px;

}